nav {
	background-color: #E32B2B;
	overflow: hidden;
	padding: 1em;

	a {
		color: #FFF;
    
	}
 
  }

	.navWide {
		display: none;
		margin: 0 auto;

		.wideDiv {
			text-align: right;
       .leftnav{
        text-align:left;
      }

			a {
				text-decoration: none;
        transition:1000ms;
        border-bottom:1px solid #E32B2B ;
				display: inline-block;
				// Adjust padding to increase/decrease the space between links.
				padding: 0 1.5em;
        padding-bottom:5px;
			}
      a:hover{
        border-color:white;
      }
		}
	}
 

	// Navbar is set to default with the "hamburger" and links on the right
	

	.navNarrow {
 
    p{
      float:left;
      color:#FFF;
    }

		i {
			float: right;
			cursor: pointer;
			color: #FFF;
		}

		.narrowLinks {
			display: none;

			a {
				text-decoration: none;
        transition:1000ms;
        border-bottom:1px solid #E32B2B ;
				display: block;
				float: left;
				clear: left;
				padding: 0.5em 0;
			}
      a:hover{
        border-color:white;
      }
		}
	}
.menus {
			display: none;

			a {
				text-decoration: none;
        transition:1000ms;
        border-bottom:1px solid #E32B2B ;
				display: block;
				float: left;
				clear: left;
				padding: 0.5em 0;
			}
      a:hover{
        border-color:white;
      }
		}

// Adjust breakpoint as desired to select when the "hamburger" menu is
// replaced by just the links.
@media (min-width: 1023px) {
	
	nav {

		.navWide {
			display: block;
		}

		.navNarrow {
			display: none;
		}
	}
}