@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

nav {
  background-color: #037B55;
  overflow: hidden;
  padding: 1em;
  border-bottom: 3px solid transparent;
}

nav a {
  color: white;
}

nav .navWide {
  display: none;
  margin: 0 auto;
}

nav .navWide .wideDiv {
  text-align: center;
}

nav .navWide .wideDiv a {
  text-decoration: none;
  display: line-block;
  padding: 0 2.5em;
  padding-bottom: 5px;
}

a {
  transition: 1000ms;
  border-bottom: 1px solid #e32b2b;
}
a:hover {
  border-color: white;
}
nav .navNarrow span {
  float: left;
  cursor: pointer;
  color: white;
}
nav .navNarrow i {
  float: right;
  cursor: pointer;
  color: white;
}

nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 1em 0;
}

.hidden {
  display: none;
}

/*Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links.*/
@media (min-width: 1100px) {
  nav .navWide {
    display: block;
  }

  nav .navNarrow {
    display: none;
  }
}

/* .float-right{
  
} */

.menus {
  display: none;
}
.menus a {
  text-decoration: none;
  transition: 1000ms;
  border-bottom: 1px solid transparent;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
}
.menus a:hover {
  border-color: white;
}
